@font-face {
    font-family:DINPro;
    src: url('./resource/Fonts/DINPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Arkitech Medium;
    src: url('./resource/Fonts/Arkitech Medium');
    font-style: normal ;
    font-weight: normal;
}
